@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~antd/dist/antd.css";

// overriding
.ant-layout {
  min-height: 100vh;
}

.ant-layout-footer {
  background: #e1e3e5;
}

.ant-table-thead>tr>th {
  background-color: #f2f4f8;
}

.anticon-reload svg {
  margin-bottom: 7px;
}
